{#
/**
 * @file
 * Location Date Time block.
 */
#}
<table>
   <tr>
      <th>County:</th>
      <td>{{ country }}</td>
   </tr>
   <tr>
      <th>City:</th>
      <td>{{ city }}</td>
   </tr>
   <tr>
      <th>Date/Time:</th>
      <td>{{ date_time }}</td>
   </tr>
</table>